@using X.PagedList
@using System.Text.Json
@using QuanLyRaVao.authorize
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<AccountRole> data = HttpContextAccessor.HttpContext.Session.GetJson<List<AccountRole>>("QuyenTK") ?? new List<AccountRole>();
    var qh = data.FirstOrDefault(c => c.ActionName == "QuanLyDanhSach");
    var dsdahoanthanh = ViewBag.pagedList5 as PagedList<DSRN>;
    var dsdatuchoi = ViewBag.pagedList0 as PagedList<DSRN>;
    var dschuapheduyet = ViewBag.pagedList1 as PagedList<DSRN>;
    var dsdapheduyetc = ViewBag.pagedList2 as PagedList<DSRN>;
    var dsdapheduyetd = ViewBag.pagedList3 as PagedList<DSRN>;
    var dsdapheduyetcong = ViewBag.pagedList4 as PagedList<DSRN>;
}

@if (qh==null)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Full Screen Alert</title>
        <style>
            body {
                margin: 0;
                font-family: Arial, sans-serif;
            }

            .fullscreen-alert {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: center;
                color: #fff;
                text-align: center;
                z-index: 1000;
            }

            .alert-content {
                background-color: #343a40;
                padding: 20px;
                border-radius: 8px;
            }

            .close-btn {
                cursor: pointer;
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        </style>
    </head>
    <body>

        <div class="fullscreen-alert" id="fullscreenAlert">
            <div class="alert-content">
                <span class="close-btn" onclick="closeFullscreenAlert()">&times;</span>
                <h1>Truy cập thất bại</h1>
                <p>Bạn không có quyền truy cập trang này. Vui lòng liên hệ với chúng tôi để nhận hỗ trợ </p>
            </div>
        </div>

        <script>
            function showFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'flex';
            }

            function closeFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'none';
            }

            // Gọi hàm này khi trang web được tải
            document.addEventListener('DOMContentLoaded', function () {
                showFullscreenAlert();
            });
        </script>

    </body>
    </html>


}
else
{
    <div>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Quản lý quân nhân</h3>
                                </div>
                                <div class="card-body">
                                    <!--Tìm kiếm viết ở đây-->

                                </div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class=" nav-item active"><a class="nav-link active" data-toggle="tab" href="#ChuaPD">Chưa phê duyệt (@ViewBag.ChuPheDuyet)</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDC">Đã phê duyệt cấp đại đội (@ViewBag.PheDuyetC)</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDD">Đã phê duyệt cấp tiểu đoàn (@ViewBag.PheDuyetD)</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDCong">Đã qua cổng (@ViewBag.PheDuyetCong)</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#HT">Đã hoàn thành (@ViewBag.DaHoanThanh)</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TC">Đã hủy (@ViewBag.DaBiTuChoi)</a></li>
                                </ul>
                                                            
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div id="ChuaPD" class="tab-pane active">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dschuapheduyet)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dschuapheduyet.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dschuapheduyet.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dschuapheduyet.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dschuapheduyet.PageNumber - 1; i <= dschuapheduyet.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dschuapheduyet.PageCount)
                                                        {
                                                            <li class="page-item @(i == dschuapheduyet.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dschuapheduyet.PageNumber < dschuapheduyet.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dschuapheduyet.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dschuapheduyet.PageCount == dschuapheduyet.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageCount })">@dschuapheduyet.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dschuapheduyet.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="PDC" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdapheduyetc)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdapheduyetc.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdapheduyetc.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdapheduyetc.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdapheduyetc.PageNumber - 1; i <= dsdapheduyetc.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdapheduyetc.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdapheduyetc.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdapheduyetc.PageNumber < dsdapheduyetc.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetc.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdapheduyetc.PageCount == dsdapheduyetc.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageCount })">@dsdapheduyetc.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetc.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="PDD" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdapheduyetd)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdapheduyetd.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdapheduyetd.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdapheduyetd.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdapheduyetd.PageNumber - 1; i <= dsdapheduyetd.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdapheduyetd.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdapheduyetd.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdapheduyetd.PageNumber < dsdapheduyetd.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetd.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdapheduyetd.PageCount == dsdapheduyetd.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageCount })">@dsdapheduyetd.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetd.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                         <div id="PDCong" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdapheduyetcong)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdapheduyetcong.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetcong.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdapheduyetcong.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdapheduyetcong.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdapheduyetcong.PageNumber - 1; i <= dsdapheduyetcong.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdapheduyetcong.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdapheduyetcong.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdapheduyetcong.PageNumber < dsdapheduyetcong.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetcong.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdapheduyetcong.PageCount == dsdapheduyetcong.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetcong.PageCount })">@dsdapheduyetcong.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetcong.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetcong.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="HT" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdahoanthanh)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdahoanthanh.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdahoanthanh.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdahoanthanh.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdahoanthanh.PageNumber - 1; i <= dsdahoanthanh.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdahoanthanh.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdahoanthanh.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdahoanthanh.PageNumber < dsdahoanthanh.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdahoanthanh.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdahoanthanh.PageCount == dsdahoanthanh.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageCount })">@dsdahoanthanh.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdahoanthanh.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="TC" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdatuchoi)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" onclick="XoaDS(@item.MaHocVien)">Delete</a></td>
                                                            <td><a class="btn btn-success" onclick="PheDuyet1(@item.MaHocVien)">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdatuchoi.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdatuchoi.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdatuchoi.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdatuchoi.PageNumber - 1; i <= dsdatuchoi.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdatuchoi.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdatuchoi.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdatuchoi.PageNumber < dsdatuchoi.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdatuchoi.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdatuchoi.PageCount == dsdatuchoi.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageCount })">@dsdatuchoi.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdatuchoi.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
          
        </div>
      
    </div>
}
