@using X.PagedList
@using System.Text.Json
@using QuanLyRaVao.authorize
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<AccountRole> data = HttpContextAccessor.HttpContext.Session.GetJson<List<AccountRole>>("QuyenTK") ?? new List<AccountRole>();
    List<DSGT> ds = HttpContextAccessor.HttpContext.Session.GetJson<List<DSGT>>("DS") ?? new List<DSGT>();
    List<Giayto> gt = HttpContextAccessor.HttpContext.Session.GetJson<List<Giayto>>("GT") ?? new List<Giayto>();
    List<Quannhan> hv = HttpContextAccessor.HttpContext.Session.GetJson<List<Quannhan>>("HV") ?? new List<Quannhan>();
    var qh = data.FirstOrDefault(c => c.ActionName == "QuanLyDanhSach");
    var dsdahoanthanh = ViewBag.pagedList5 as PagedList<DSRN>;
    var dsdatuchoi = ViewBag.pagedList0 as PagedList<DSRN>;
    var dschuapheduyet = ViewBag.pagedList1 as PagedList<DSRN>;
    var dsdapheduyetc = ViewBag.pagedList2 as PagedList<DSRN>;
    var dsdapheduyetd = ViewBag.pagedList3 as PagedList<DSRN>;
    
}

@if (qh==null)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Full Screen Alert</title>
        <style>
            body {
                margin: 0;
                font-family: Arial, sans-serif;
            }

            .fullscreen-alert {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: center;
                color: #fff;
                text-align: center;
                z-index: 1000;
            }

            .alert-content {
                background-color: #343a40;
                padding: 20px;
                border-radius: 8px;
            }

            .close-btn {
                cursor: pointer;
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        </style>
    </head>
    <body>

        <div class="fullscreen-alert" id="fullscreenAlert">
            <div class="alert-content">
                <span class="close-btn" onclick="closeFullscreenAlert()">&times;</span>
                <h1>Truy cập thất bại</h1>
                <p>Bạn không có quyền truy cập trang này. Vui lòng liên hệ với chúng tôi để nhận hỗ trợ </p>
            </div>
        </div>

        <script>
            function showFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'flex';
            }

            function closeFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'none';
            }

            // Gọi hàm này khi trang web được tải
            document.addEventListener('DOMContentLoaded', function () {
                showFullscreenAlert();
            });
        </script>

    </body>
    </html>


}
else
{
    <div>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Quản lý quân nhân</h3>
                                </div>
                                <div class="card-body">
                                    <!--Tìm kiếm viết ở đây-->

                                </div>
                                <ul class="nav nav-tabs" role="tablist">
                                    @if (qh.MaCv == 2)
                                    {
                                        <li class=" nav-item active"><a class="nav-link active" data-toggle="tab" href="#ChuaPD">Danh sách đăng ký ra ngoài (@ViewBag.ChuaPheDuyet)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDC">Danh sách gửi lên tiểu đoàn chờ phê duyệt (@ViewBag.PheDuyetC)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDD">Danh sách tiểu đoàn đã phê duyệt (@ViewBag.PheDuyetD)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#HT">Đã hoàn thành (@ViewBag.DaHoanThanh)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TC">Đã hủy (@ViewBag.DaBiTuChoi)</a></li>
                                    }
                                    @if (qh.MaCv == 3)
                                    {
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDC">Danh sách đại đội gửi lên (@ViewBag.PheDuyetC)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDD">Danh sách đã phê duyệt (@ViewBag.PheDuyetD)</a></li>
                                    }
                                    @if (qh.MaCv == 1)
                                    {
                                        <li class=" nav-item active"><a class="nav-link active" data-toggle="tab" href="#ChuaPD">Chưa phê duyệt (@ViewBag.ChuaPheDuyet)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDC">Đã phê duyệt cấp đại đội (@ViewBag.PheDuyetC)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PDD">Đã phê duyệt cấp tiểu đoàn (@ViewBag.PheDuyetD)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#HT">Đã hoàn thành (@ViewBag.DaHoanThanh)</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TC">Đã hủy (@ViewBag.DaBiTuChoi)</a></li>
                                    }
                                    
                                </ul>
                                                            
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div id="ChuaPD" class="tab-pane active">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mã CTDS</th>
                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dschuapheduyet)
                                                    {
                                                        <tr>
                                                            <td>@item.MaCTDS</td>
                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            @if(item.HinhThucRn==2)
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            <td><a class="btn btn-success" id="TuChoiC" data-maqn="@qh.MaQn">Từ chối</a></td>
                                                            <td><a class="btn btn-success" id="PheDuyetC" data-maqn="@qh.MaQn">Phê duyệt</a></td>
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @dschuapheduyet.FirstItemOnPage đến @dschuapheduyet.LastItemOnPage  trên tổng số @dschuapheduyet.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dschuapheduyet.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dschuapheduyet.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dschuapheduyet.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dschuapheduyet.PageNumber - 1; i <= dschuapheduyet.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dschuapheduyet.PageCount)
                                                        {
                                                            <li class="page-item @(i == dschuapheduyet.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dschuapheduyet.PageNumber < dschuapheduyet.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dschuapheduyet.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dschuapheduyet.PageCount == dschuapheduyet.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageCount })">@dschuapheduyet.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dschuapheduyet.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dschuapheduyet.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <button type="button" class="btn btn-default" data-toggle="modal"  data-target="#themdanhsach">Thêm danh sách</button>
                                            <Button class="btn btn-success" id="AllC" data-maqn="@qh.MaQn">Phê duyệt tất cả</Button>
                                            <Button class="btn btn-success" id="AllTC" data-maqn="@qh.MaQn">Từ chối tất cả</Button>
                                        </div>
                                        <div class="modal fade" id="themdanhsach">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Thêm danh sách</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="frmSuaDM" method="post">
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <!-- Thêm id cho select để dễ truy cập -->
                                                                    <select id="HocVien" name="HocVien" class="form-control">
                                                                        <option value="0" selected>Chọn học viên</option>
                                                                        @foreach (var hocvien in hv)
                                                                        {
                                                                            <option value="@hocvien.MaQn">@hocvien.HoTen</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select id="HinhThuc" name="HinhThuc" class="form-control">
                                                                        <option value="0" selected>Chọn hình thức ra ngoài</option>
                                                                        <option value="1">Đi tranh thủ</option>
                                                                        <option value="2">Đi ra ngoài</option>
                                                                    </select>
                                                                </div>    
                                                                <div class="form-group">
                                                                    <label for="LyDo">Lý do:</label>
                                                                    <input type="text" class="form-control" id="LyDo" name="LyDo" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng nhập lý do. </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="DiaDiem">Địa điểm:</label>
                                                                    <input type="text" class="form-control" id="DiaDiem" name="DiaDiem" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng nhập địa điểm.</div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ThoiGianRa">Thời gian ra ngoài:</label>
                                                                    <input type="datetime-local" class="form-control" id="ThoiGianRa" name="ThoiGianRa" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng chọn thời gian ra.</div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ThoiGianVao">Thời gian vào:</label>
                                                                    <input type="datetime-local" class="form-control" id="ThoiGianVao" name="ThoiGianVao" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng chọn thời gian vào.</div>
                                                                </div>
                                                                <button type="button" class="btn btn-primary" id="confirm5">Xác nhận</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                        <script>
                                            $(document).ready(function () {
                                                $("#confirm5").click(function () {
                                                    var hocVien = $("#HocVien").val();
                                                    var hinhThuc = $("#HinhThuc").val();
                                                    var lyDo = $("#LyDo").val();
                                                    var diaDiem = $("#DiaDiem").val();
                                                    var thoiGianRa = $("#ThoiGianRa").val();
                                                    var thoiGianVao = $("#ThoiGianVao").val();

                                                    // Use Moment.js to format dates
                                                    thoiGianRa = moment(thoiGianRa, "YYYY-MM-DDTHH:mm").toISOString();
                                                    thoiGianVao = moment(thoiGianVao, "YYYY-MM-DDTHH:mm").toISOString();

                                                    $.ajax({
                                                        url: '/Admin/ThemDS',
                                                        type: 'POST',
                                                        data: {
                                                            hocVien: hocVien,
                                                            hinhThuc: hinhThuc,
                                                            lyDo: lyDo,
                                                            diaDiem: diaDiem,
                                                            thoiGianRa: thoiGianRa,
                                                            thoiGianVao: thoiGianVao
                                                        },
                                                        success: function (res) {
                                                            if (res.status == true) {
                                                                window.location.href = "/Admin/QuanLyDanhSach";
                                                            }
                                                            /*$("#showmodal1 .modal-dialog").html(data);*/
                                                            /* $("#showmodal").modal('show')*/
                                                        }
                                                    });
                                                });
                                            });




                                            $("#ChuaPD").on("click", "#PheDuyetC", function () {
                                                var id = $(this).closest("tr").find("td").eq(0).html();
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("Duyet1", "Admin")",
                                                    data: { mactds: id,maqn:maqn},
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });

                 
                                                $("#ChuaPD").on("click", ".TuChoiC", function () {
                                                    var id = $(this).closest("tr").find("td").eq(0).html();
                                                    var maqn = $(this).data("maqn"); // Assuming data-maqn is set on the anchor tag
                                                    $.ajax({
                                                        url: "@Url.Action("TC1", "Admin")",
                                                        data: { mactds: id, maqn: maqn },
                                                        success: function (res) {
                                                            if (res.status == true) {
                                                                window.location.href = "/Admin/QuanLyDanhSach";
                                                            }
                                                        }
                                                    });
                                                });
                          

                                            $("#ChuaPD").on("click", "#AllC", function () {
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("All1", "Admin")",
                                                    data: {  maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                            $("#ChuaPD").on("click", "#AllTC", function () {
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("AllT1", "Admin")",
                                                    data: { maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                        </script>
                                        <div id="PDC" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mã CTDS</th>
                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdapheduyetc)
                                                    {
                                                        <tr>
                                                            <td>@item.MaCTDS</td>
                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>  
                                                            @if (qh.MaCv == 1 || qh.MaCv == 3)
                                                            {
                                                                <td><a class="btn btn-success" id="TuChoiD" data-maqn="@qh.MaQn">Từ chối</a></td>
                                                                <td><a class="btn btn-success" id="PheDuyetD" data-maqn="@qh.MaQn">Phê duyệt</a></td>
                                                            }
                                                           
                                                        </tr> 
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @dsdapheduyetc.FirstItemOnPage đến @dsdapheduyetc.LastItemOnPage  trên tổng số @dsdapheduyetc.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdapheduyetc.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdapheduyetc.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdapheduyetc.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdapheduyetc.PageNumber - 1; i <= dsdapheduyetc.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdapheduyetc.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdapheduyetc.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdapheduyetc.PageNumber < dsdapheduyetc.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetc.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdapheduyetc.PageCount == dsdapheduyetc.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageCount })">@dsdapheduyetc.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetc.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetc.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            @if (qh.MaCv == 1 || qh.MaCv == 3)
                                            {
                                                <Button class="btn btn-success" id="AllD">Phê duyệt tất cả</Button>
                                                <Button class="btn btn-success" id="AllTCD">Từ chối tất cả</Button>
                                            }
                                            
                                        </div>
                                        <script>

                                            $("#PDC").on("click", "#PheDuyetD", function () {
                                                var id = $(this).closest("tr").find("td").eq(0).html();
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("Duyet2", "Admin")",
                                                    data: { mactds: id, maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                            $("#PDC").on("click", "#TuChoiD", function () {
                                                var id = $(this).closest("tr").find("td").eq(0).html();
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("TC2", "Admin")",
                                                    data: { mactds: id, maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                            $("#ChuaPD").on("click", "#AllD", function () {
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("All2", "Admin")",
                                                    data: {  maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                            $("#ChuaPD").on("click", "#AllTCD", function () {
                                                var maqn = $(this).data("maqn");
                                                $.ajax({
                                                    url: "@Url.Action("AllT2", "Admin")",
                                                    data: {  maqn: maqn },
                                                    success: function (res) {
                                                        if (res.status == true) {
                                                            window.location.href = "/Admin/QuanLyDanhSach";
                                                        }
                                                        /*$("#showmodal1 .modal-dialog").html(data);*/
                                                        /* $("#showmodal").modal('show')*/
                                                    }
                                                });
                                            });
                                        </script>
                                        <div id="PDD" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mã CTDS</th>
                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdapheduyetd)
                                                    {
                                                        <tr>
                                                            <td>@item.MaCTDS</td>
                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            <td>
                                                                <a href="@Url.Action("SuaDanhSach","Admin",new {MaHocVien=item.MaHocVien})" class="btn btn-success">Edit</a>
                                                            </td>
                                                            @if (qh.MaCv == 1 || qh.MaCv == 2)
                                                            {
                                                                @if (ds.Any(c => c.MaCtds == item.MaCTDS && (c.DaTra == false || c.DaTra == null)))
                                                                {
                                                                    <td>
                                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-id="@item.MaCTDS" data-magiay="@ds.First(c => c.MaCtds == item.MaCTDS).MaGiayTo" data-target="#tragiay">Trả giấy</button>

                                                                    </td>
                                                                }
                                                                else
                                                                {

                                                                    <td>
                                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-id="@item.MaCTDS" data-target="#capgiay">Cấp giấy</button>

                                                                    </td>

                                                                }
                                                            }
                                                           

                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @dsdapheduyetd.FirstItemOnPage đến @dsdapheduyetd.LastItemOnPage  trên tổng số @dsdapheduyetd.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdapheduyetd.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdapheduyetd.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdapheduyetd.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdapheduyetd.PageNumber - 1; i <= dsdapheduyetd.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdapheduyetd.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdapheduyetd.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdapheduyetd.PageNumber < dsdapheduyetd.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetd.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdapheduyetd.PageCount == dsdapheduyetd.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageCount })">@dsdapheduyetd.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdapheduyetd.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdapheduyetd.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="tragiay">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Cập nhật thông tin trả giấy</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="frmSuaDM" method="post">
                                                            <div class="card-body">
                                                                <!-- Loại bỏ trường "Chọn giấy tờ" và "Thời gian lấy giấy tờ" -->

                                                                <div class="form-group" id="thoiGianTraGroup">
                                                                    <label for="ThoiGianTra">Thời gian trả giấy tờ:</label>
                                                                    <input type="datetime-local" class="form-control" id="ThoiGianTra" name="ThoiGianTra" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng chọn thời gian trả.</div>
                                                                </div>

                                                                <button type="button" style="margin-left:150px" class="btn btn-primary" id="confirm">Xác nhận</button>
                                                            </div>
                                                        </form>
                                                    </div>                                                
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <div class="modal fade" id="capgiay">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Cập nhật thông tin trả giấy</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="frmSuaDM" method="post">
                                                            <div class="card-body">
                                                                <!-- Thêm id cho select để dễ truy cập -->
                                                                <select id="ChucVu" name="ChucVu" class="form-control">
                                                                    <option value="0" selected>Chọn giấy tờ</option>
                                                                    @foreach (var giayto in gt)
                                                                    {
                                                                        <option value="@giayto.MaGiayTo">@giayto.SoGiay</option>
                                                                    }
                                                                </select>
                                                                <div class="form-group">
                                                                    <label for="ThoiGianLay">Thời gian lấy giấy tờ:</label>
                                                                    <input type="datetime-local" class="form-control" id="ThoiGianLay" name="ThoiGianLay" required>
                                                                    <div class="valid-feedback">Valid.</div>
                                                                    <div class="invalid-feedback">Vui lòng chọn thời gian lấy.</div>
                                                                </div>                                                              
                                                                <button type="button" class="btn btn-primary" id="confirm2">Xác nhận</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                var thoiGianTraGroup = document.getElementById('thoiGianTraGroup');
                                                var thoiGianTraInput = document.getElementById('ThoiGianTra');

                                                // Tự động cập nhật giá trị cho "Thời gian trả giấy tờ"
                                                var currentDate = new Date();
                                                thoiGianTraInput.value = currentDate.toISOString().slice(0, 16);

                                                // Get references to modal elements
                                                var modal = $('#modal-default');
                                                var confirmButton = $('#confirm');

                                                // Handle button click
                                                $('[data-toggle="modal"]').on('click', function () {
                                                    // Get data attributes from the button
                                                    var id = $(this).data('id');
                                                    var magiay = $(this).data('magiay');

                                                    // Set values in the modal
                                                    modal.find('#ThoiGianTra').val(thoiGianTraInput.value); // Set default time
                                                    // You can set other values in the modal if needed

                                                    // Show the modal
                                                    modal.modal('show');

                                                    // Handle confirm button click inside the modal
                                                    confirmButton.on('click', function () {
                                                        var thoiGianTraValue = thoiGianTraInput.value.trim();

                                                        if (thoiGianTraValue === "") {
                                                            alert("Vui lòng nhập đủ thông tin.");
                                                        } else {
                                                            // Chuyển đổi giá trị ngày giờ thành định dạng phù hợp cho SQL Server
                                                            var thoiGianTraFormatted = new Date(thoiGianTraValue).toISOString().slice(0, 19).replace("T", " ");

                                                            $.ajax({
                                                                url: '/Admin/TraGT',
                                                                data: {
                                                                    thoiGianTra: thoiGianTraFormatted,
                                                                    id: id,
                                                                    magiay: magiay
                                                                },
                                                                type: 'POST',
                                                                dataType: 'json',
                                                                success: function (res) {
                                                                    if (res.status == true) {
                                                                        window.location = '@Url.Action("QuanLyDanhSach","Admin")';
                                                                        Swal.fire({
                                                                            position: 'center',
                                                                            icon: 'success',
                                                                            title: 'Thêm thành công',
                                                                            showConfirmButton: false,
                                                                            timer: 100
                                                                        });
                                                                    }
                                                                },
                                                                error: function (err) {
                                                                    console.log(err);
                                                                    alert("Đã xảy ra lỗi khi thêm yêu cầu.");
                                                                }
                                                            });

                                                            // Hide the modal after processing
                                                            modal.modal('hide');
                                                        }
                                                    });
                                                });
                                            });
                                            document.addEventListener('DOMContentLoaded', function () {
                                                var selectGiayTo = document.getElementById('ChucVu');
                                                var thoiGianLayInput = document.getElementById('ThoiGianLay');

                                                // Variables to store button data
                                                var buttonId;

                                                // Handle button click to open the modal
                                                $('[data-toggle="modal"]').on('click', function () {
                                                    // Store the data-id attribute value in the buttonId variable
                                                    buttonId = $(this).data('id');
                                                });

                                                // Thêm sự kiện change cho selectGiayTo
                                                selectGiayTo.addEventListener('change', function () {
                                                    var selectedOption = selectGiayTo.options[selectGiayTo.selectedIndex];

                                                    if (selectedOption.value !== "0") {
                                                        var currentDate = new Date();
                                                        // Format giờ và ngày thành chuỗi ISO để đặt giá trị input
                                                        thoiGianLayInput.value = currentDate.toISOString().slice(0, 16);
                                                    }
                                                });

                                                document.getElementById('confirm2').addEventListener('click', function () {
                                                    var selectedOption = selectGiayTo.options[selectGiayTo.selectedIndex];
                                                    var thoiGianLayValue = thoiGianLayInput.value.trim();

                                                    if (selectedOption.value === "0") {
                                                        alert("Vui lòng chọn giấy tờ.");
                                                    } else if (thoiGianLayValue === "") {
                                                        alert("Vui lòng nhập đủ thông tin.");
                                                    } else {
                                                        // Chuyển đổi giá trị ngày giờ thành định dạng phù hợp cho SQL Server
                                                        var thoiGianLayFormatted = new Date(thoiGianLayValue).toISOString().slice(0, 19).replace("T", " ");

                                                        $.ajax({
                                                            url: '/Admin/ThemGT',
                                                            data: {
                                                                giayto: selectedOption.value,
                                                                thoiGianLay: thoiGianLayFormatted,
                                                                id: buttonId // Use the stored buttonId here
                                                            },
                                                            type: 'POST',
                                                            dataType: 'json',
                                                            success: function (res) {
                                                                if (res.status == true) {
                                                                    window.location = '@Url.Action("QuanLyDanhSach","Admin")';
                                                                    Swal.fire({
                                                                        position: 'center',
                                                                        icon: 'success',
                                                                        title: 'Thêm thành công',
                                                                        showConfirmButton: false,
                                                                        timer: 100
                                                                    });
                                                                }
                                                            },
                                                            error: function (err) {
                                                                console.log(err);
                                                                alert("Đã xảy ra lỗi khi thêm yêu cầu.");
                                                            }
                                                        });
                                                    }
                                                });
                                            });

                                        </script>
                                        <div id="HT" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdahoanthanh)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                           @*  <td>
                                                                <button type="button" class="btn btn-default" data-toggle="modal" data-id="@item.MaCTDS" data-magiay="@ds.First(c => c.MaCtds == item.MaCTDS).MaGiayTo" data-target="#chitiet">Chi tiết</button>

                                                            </td> *@
                                                            
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @dsdahoanthanh.FirstItemOnPage đến @dsdahoanthanh.LastItemOnPage  trên tổng số @dsdahoanthanh.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdahoanthanh.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdahoanthanh.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdahoanthanh.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdahoanthanh.PageNumber - 1; i <= dsdahoanthanh.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdahoanthanh.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdahoanthanh.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdahoanthanh.PageNumber < dsdahoanthanh.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdahoanthanh.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdahoanthanh.PageCount == dsdahoanthanh.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageCount })">@dsdahoanthanh.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdahoanthanh.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdahoanthanh.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                       @*  <div class="modal fade" id="chitiet">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Chi tiết lịch sử giấy</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table id="example2" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Số giấy</th>
                                                                    <th>Thời gian mượn</th>
                                                                    <th>Thời gian trả</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td id="soGiay"></td>
                                                                    <td id="thoiGianMuon"></td>
                                                                    <td id="thoiGianTra"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                // Event listener for the button click
                                                $('[data-toggle="modal"]').on('click', function () {
                                                    // Extract data from the button
                                                    var maCTDS = $(this).data('id');
                                                    var maGiayTo = $(this).data('magiay');

                                                    // Ajax request to get additional information based on the extracted data
                                                    $.ajax({
                                                        url: '/Admin/ChiTiet', // Update the URL with your actual controller and action
                                                        type: 'GET',
                                                        data: {
                                                            maCTDS: maCTDS,
                                                            maGiayTo: maGiayTo
                                                        },
                                                        success: function (result) {
                                                            // Update the modal content with the received data
                                                            $('#soGiay').text(result.MaGiayTo);
                                                            $('#thoiGianMuon').text(result.ThoiGianLay);
                                                            $('#thoiGianTra').text(result.ThoiGianTra);
                                                        },
                                                        error: function (error) {
                                                            console.log(error);
                                                            alert('Error fetching data.');
                                                        }
                                                    });
                                                });
                                            });
                                        </script> *@

                                        <div id="TC" class="tab-pane fade">
                                            <table id="example2" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>

                                                        <th>Họ tên</th>
                                                        <th>Chức vụ</th>
                                                        <th>Cấp bậc</th>
                                                        <th>Đơn vị</th>
                                                        <th>Lý do ra ngoài</th>
                                                        <th>Địa điểm</th>
                                                        <th>Hình thức ra ngoài</th>
                                                        <th>Thời giam ra</th>
                                                        <th>Thời gian vào</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in dsdatuchoi)
                                                    {
                                                        <tr>

                                                            <td>@item.HoTen</td>
                                                            <td>@item.TenCv</td>
                                                            <td>@item.CapBac1</td>
                                                            <td>@item.TenDv</td>
                                                            <td>@item.LyDo</td>
                                                            <td>@item.DiaDiem</td>
                                                            @if (@item.HinhThucRn == 1)
                                                            {
                                                                <td>Đi tranh thủ</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Đi ra ngoài</td>
                                                            }

                                                            <td>@item.ThoiGianRa</td>
                                                            <td>@item.ThoiGianVao</td>
                                                            
                                                            
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                        Danh sách từ @dsdahoanthanh.FirstItemOnPage đến @dsdahoanthanh.LastItemOnPage  trên tổng số @dsdahoanthanh.TotalItemCount quân nhân
                                                    </div>
                                                </div>
                                                <ul class="pagination">

                                                    @if (dsdatuchoi.HasPreviousPage)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageNumber - 1 })">Previous</a>
                                                        </li>

                                                    }
                                                    <li class="page-item  @(1 == dsdatuchoi.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = 1 })">1</a>
                                                    </li>
                                                    @if (dsdatuchoi.PageNumber > 3)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @for (int i = dsdatuchoi.PageNumber - 1; i <= dsdatuchoi.PageNumber + 1; i++)
                                                    {
                                                        if (i > 1 && i < dsdatuchoi.PageCount)
                                                        {
                                                            <li class="page-item @(i == dsdatuchoi.PageNumber ? "active" : "")">
                                                                <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = i })">@i</a>
                                                            </li>
                                                        }
                                                    }
                                                    @if (dsdatuchoi.PageNumber < dsdatuchoi.PageCount - 1)
                                                    {
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    }
                                                    @if (dsdatuchoi.PageCount > 1)
                                                    {
                                                        <li class="page-item  @(dsdatuchoi.PageCount == dsdatuchoi.PageNumber ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageCount })">@dsdatuchoi.PageCount</a>
                                                        </li>
                                                    }
                                                    @if (dsdatuchoi.HasNextPage)
                                                    {

                                                        <li class="page-item">
                                                            <a class="page-link" href="@Url.Action("QuanLyDanhSach", new { page = dsdatuchoi.PageNumber + 1 })">Next</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
          
        </div>
      
    </div>
}
