@{
    ViewBag.Title = "QuanLyDSVP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var dsrn = ViewBag.dsrn;
}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">DataTable with minimal features & hover style</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên quân nhân</th>
                                            <th>Địa điểm</th>
                                            <th>Lý do</th>
                                            <th>Thời gian ra</th>
                                            <th>THời gian vào</th>
                                            <th>Ghi chú</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        //------------------------
                                        @foreach (var item in dsrn)
                                        {
                                            <tr>
                                        
                                                <td>@item.HoTen</td>
                                                <td>@item.LyDo</td>
                                                <td>@item.DiaDiem</td>
                                                <td>@item.ThoiGianRa</td>
                                                <td>@item.ThoiGianVao</td>
                                                <td>@item.GhiChu</td>
                                                <td>@item.TinhTrang</td>
                                    
                                                
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>XXXXXXXXXXXXx</th>
                                            <th>XXXXXXXXXXXXx</th>
                                            <th>XXXXXXXXXXXXx</th>
                                            <th>XXXXXXXXXXXXx</th>
                                            <th>XXXXXXXXXXXXx</th>
                                        
                                        </tr>
                                    </tfoot>
                                </table>
        </section>
    </div>
</div>